@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: black;
}

.font-gelasio {
  font-family: 'Gelasio', serif;
}

i {
  @apply mt-0.5;
}

img{
  @apply w-full h-full object-cover;
}

section{
  @apply py-4 px-[5vw] md:px-[7vw] lg:px-[10vw];
}

.navbar{
  @apply z-10 sticky top-0 flex items-center gap-12 w-full px-[5vw] py-5 h-[80px] bg-white;
}

.h-cover{
  @apply min-h-[calc(100vh-80px)];
}

.btn-dark{
  @apply whitespace-nowrap bg-black text-white rounded-full py-3 px-6 text-xl capitalize hover:bg-white hover:text-black hover:outline-3 hover:outline-black;
}

.btn-light {
  @apply whitespace-nowrap rounded-full py-3 px-6 text-lg capitalize bg-gray-200 text-black hover:outline-4
}

.input-box {
  @apply w-[100%] rounded-md p-4 bg-gray-200 pl-12 border border-gray-200 focus:bg-transparent placeholder:text-black;
}

.input-icon{
  @apply absolute left-4 top-1/2 -translate-y-1/2;
}

.center{
  @apply block mx-auto;
}